In [1]:
import pandas as pd

In [34]:
pd.read_csv(r"C:\Users\TITI ADEBOYE\Documents\merge.book 1.csv")

    Year  Runtime (Minutes)  Rating
0   2014                121     8.1
1   2012                124     7.0
2   2016                117     7.3
3   2016                108     7.2
4   2016                123     6.2
5   2016                103     6.1
6   2016                128     8.3
7   2016                 89     6.4
8   2016                141     7.1
9   2016                116     7.0
10  2016                133     7.5
11  2016                127     7.8
12  2016                133     7.9
13  2016                107     7.7
14  2016                109     6.4
15  2016                 87     6.6
16  2016                139     8.2
17  2016                123     6.7
18  2016                118     8.1
19  2016                116     8.0
20  2016                120     6.7
21  2016                137     7.9

In [3]:
a = pd.read_csv(r"C:\Users\TITI ADEBOYE\Documents\merge.book 1.csv")

In [35]:
pd.read_csv(r"C:\Users\TITI ADEBOYE\Documents\merge two.csv")

     Votes  Revenue (Millions)  Metascore
0   757074              333.13         76
1   485820              126.46         65
2   157606              138.12         62
3    60545              270.32         59
4   393727              325.02         40
5    56036               45.13         42
6   258682              151.06         93
7     2490                 NaN         71
8     7188                8.01         78
9   192177              100.01         41
10  232072              234.02         66
11   93103              169.27         74
12  323118              532.17         65
13  118151              248.75         81
14    8612                2.87         70
15  120259              368.31         61

In [4]:
b = pd.read_csv(r"C:\Users\TITI ADEBOYE\Documents\merge two.csv")

In [6]:
df = pd.concat([a , b],axis=0)

In [16]:
row_concat = pd.concat([a , b])

In [17]:
row_concat.shape

(38, 6)

In [5]:
df = pd.concat([a , b], axis=1)

In [23]:
column_concat = pd.concat([a , b], axis=1)

In [30]:
column_concat["Year"]

0     2014
1     2012
2     2016
3     2016
4     2016
5     2016
6     2016
7     2016
8     2016
9     2016
10    2016
11    2016
12    2016
13    2016
14    2016
15    2016
16    2016
17    2016
18    2016
19    2016
20    2016
21    2016
Name: Year, dtype: int64

In [31]:
column_concat["Metascore"]

    Metascore  Metascore
0        76.0       76.0
1        65.0       65.0
2        62.0       62.0
3        59.0       59.0
4        40.0       40.0
5        42.0       42.0
6        93.0       93.0
7        71.0       71.0
8        78.0       78.0
9        41.0       41.0
10       66.0       66.0
11       74.0       74.0
12       65.0       65.0
13       81.0       81.0
14       70.0       70.0
15       61.0       61.0
16        NaN        NaN
17        NaN        NaN
18        NaN        NaN
19        NaN        NaN
20        NaN        NaN
21        NaN        NaN

In [42]:
a.merge(b, "left_on=Ratings", "right_on=Metascore")

KeyError: 'right_on=Metascore'

In [44]:
pd.concat([a , b],axis=0)

      Year  Runtime (Minutes)  Rating     Votes  Revenue (Millions)  Metascore
0   2014.0              121.0     8.1  757074.0              333.13       76.0
1   2012.0              124.0     7.0  485820.0              126.46       65.0
2   2016.0              117.0     7.3  157606.0              138.12       62.0
3   2016.0              108.0     7.2   60545.0              270.32       59.0
4   2016.0              123.0     6.2  393727.0              325.02       40.0
5   2016.0              103.0     6.1   56036.0               45.13       42.0
6   2016.0              128.0     8.3  258682.0              151.06       93.0
7   2016.0               89.0     6.4    2490.0                 NaN       71.0
8   2016.0              141.0     7.1    7188.0                8.01       78.0
9   2016.0              116.0     7.0  192177.0              100.01       41.0
10  2016.0              133.0     7.5  232072.0              234.02       66.0
11  2016.0              127.0     7.8   93103.0              169.27       74.0
12  2016.0              133.0     7.9  323118.0              532.17       65.0
13  2016.0              107.0     7.7  118151.0              248.75       81.0
14  2016.0              109.0     6.4    8612.0                2.87       70.0
15  2016.0               87.0     6.6  120259.0              368.31       61.0
16  2016.0              139.0     8.2       NaN                 NaN        NaN
17  2016.0              123.0     6.7       NaN                 NaN        NaN
18  2016.0              118.0     8.1       NaN                 NaN        NaN
19  2016.0              116.0     8.0       NaN                 NaN        NaN
20  2016.0              120.0     6.7       NaN                 NaN        NaN
21  2016.0              137.0     7.9       NaN                 NaN        NaN
0      NaN                NaN     NaN  757074.0              333.13       76.0
1      NaN                NaN     NaN  485820.0              126.46       65.0
2      NaN                NaN     NaN  157606.0              138.12       62.0
3      NaN                NaN     NaN   60545.0              270.32       59.0
4      NaN                NaN     NaN  393727.0              325.02       40.0
5      NaN                NaN     NaN   56036.0               45.13       42.0
6      NaN                NaN     NaN  258682.0              151.06       93.0
7      NaN                NaN     NaN    2490.0                 NaN       71.0
8      NaN                NaN     NaN    7188.0                8.01       78.0
9      NaN                NaN     NaN  192177.0              100.01       41.0
10     NaN                NaN     NaN  232072.0              234.02       66.0
11     NaN                NaN     NaN   93103.0              169.27       74.0
12     NaN                NaN     NaN  323118.0              532.17       65.0
13     NaN                NaN     NaN  118151.0              248.75       81.0
14     NaN                NaN     NaN    8612.0                2.87       70.0
15     NaN                NaN     NaN  120259.0              368.31       61.0

In [24]:
df.tail(3)

    Year  Runtime (Minutes)  Rating     Votes  Revenue (Millions)  Metascore
13   NaN                NaN     NaN  118151.0              248.75       81.0
14   NaN                NaN     NaN    8612.0                2.87       70.0
15   NaN                NaN     NaN  120259.0              368.31       61.0

In [49]:
remi = pd.merge(df.head(3),df.tail(3),how="outer",indicator= True)
print(df.to_string)

<bound method DataFrame.to_string of       Year  Runtime (Minutes)  Rating     Votes  Revenue (Millions)  Metascore
0   2014.0              121.0     8.1       NaN                 NaN        NaN
1   2012.0              124.0     7.0       NaN                 NaN        NaN
2   2016.0              117.0     7.3       NaN                 NaN        NaN
3   2016.0              108.0     7.2       NaN                 NaN        NaN
4   2016.0              123.0     6.2       NaN                 NaN        NaN
5   2016.0              103.0     6.1       NaN                 NaN        NaN
6   2016.0              128.0     8.3       NaN                 NaN        NaN
7   2016.0               89.0     6.4       NaN                 NaN        NaN
8   2016.0              141.0     7.1       NaN                 NaN        NaN
9   2016.0              116.0     7.0       NaN                 NaN        NaN
10  2016.0              133.0     7.5       NaN                 NaN        NaN
11  2016.0              127.0     7.8       NaN                 NaN        NaN
12  2016.0              133.0     7.9       NaN                 NaN        NaN
13  2016.0              107.0     7.7       NaN                 NaN        NaN
14  2016.0              109.0     6.4       NaN                 NaN        NaN
15  2016.0               87.0     6.6       NaN                 NaN        NaN
16  2016.0              139.0     8.2       NaN                 NaN        NaN
17  2016.0              123.0     6.7       NaN                 NaN        NaN
18  2016.0              118.0     8.1       NaN                 NaN        NaN
19  2016.0              116.0     8.0       NaN                 NaN        NaN
20  2016.0              120.0     6.7       NaN                 NaN        NaN
21  2016.0              137.0     7.9       NaN                 NaN        NaN
0      NaN                NaN     NaN  757074.0              333.13       76.0
1      NaN                NaN     NaN  485820.0              126.46       65.0
2      NaN                NaN     NaN  157606.0              138.12       62.0
3      NaN                NaN     NaN   60545.0              270.32       59.0
4      NaN                NaN     NaN  393727.0              325.02       40.0
5      NaN                NaN     NaN   56036.0               45.13       42.0
6      NaN                NaN     NaN  258682.0              151.06       93.0
7      NaN                NaN     NaN    2490.0                 NaN       71.0
8      NaN                NaN     NaN    7188.0                8.01       78.0
9      NaN                NaN     NaN  192177.0              100.01       41.0
10     NaN                NaN     NaN  232072.0              234.02       66.0
11     NaN                NaN     NaN   93103.0              169.27       74.0
12     NaN                NaN     NaN  323118.0              532.17       65.0
13     NaN                NaN     NaN  118151.0              248.75       81.0
14     NaN                NaN     NaN    8612.0                2.87       70.0
15     NaN                NaN     NaN  120259.0              368.31       61.0>

In [7]:
df = pd.concat([a , b],axis=0)

In [19]:
remi = df.sort_values("Year",ascending=False,kind="mergesort",na_position="last")

In [20]:
print(df.to_string)

<bound method DataFrame.to_string of       Year  Runtime (Minutes)  Rating     Votes  Revenue (Millions)  Metascore
0   2014.0              121.0     8.1       NaN                 NaN        NaN
1   2012.0              124.0     7.0       NaN                 NaN        NaN
2   2016.0              117.0     7.3       NaN                 NaN        NaN
3   2016.0              108.0     7.2       NaN                 NaN        NaN
4   2016.0              123.0     6.2       NaN                 NaN        NaN
5   2016.0              103.0     6.1       NaN                 NaN        NaN
6   2016.0              128.0     8.3       NaN                 NaN        NaN
7   2016.0               89.0     6.4       NaN                 NaN        NaN
8   2016.0              141.0     7.1       NaN                 NaN        NaN
9   2016.0              116.0     7.0       NaN                 NaN        NaN
10  2016.0              133.0     7.5       NaN                 NaN        NaN
11  2016.0              127.0     7.8       NaN                 NaN        NaN
12  2016.0              133.0     7.9       NaN                 NaN        NaN
13  2016.0              107.0     7.7       NaN                 NaN        NaN
14  2016.0              109.0     6.4       NaN                 NaN        NaN
15  2016.0               87.0     6.6       NaN                 NaN        NaN
16  2016.0              139.0     8.2       NaN                 NaN        NaN
17  2016.0              123.0     6.7       NaN                 NaN        NaN
18  2016.0              118.0     8.1       NaN                 NaN        NaN
19  2016.0              116.0     8.0       NaN                 NaN        NaN
20  2016.0              120.0     6.7       NaN                 NaN        NaN
21  2016.0              137.0     7.9       NaN                 NaN        NaN
0      NaN                NaN     NaN  757074.0              333.13       76.0
1      NaN                NaN     NaN  485820.0              126.46       65.0
2      NaN                NaN     NaN  157606.0              138.12       62.0
3      NaN                NaN     NaN   60545.0              270.32       59.0
4      NaN                NaN     NaN  393727.0              325.02       40.0
5      NaN                NaN     NaN   56036.0               45.13       42.0
6      NaN                NaN     NaN  258682.0              151.06       93.0
7      NaN                NaN     NaN    2490.0                 NaN       71.0
8      NaN                NaN     NaN    7188.0                8.01       78.0
9      NaN                NaN     NaN  192177.0              100.01       41.0
10     NaN                NaN     NaN  232072.0              234.02       66.0
11     NaN                NaN     NaN   93103.0              169.27       74.0
12     NaN                NaN     NaN  323118.0              532.17       65.0
13     NaN                NaN     NaN  118151.0              248.75       81.0
14     NaN                NaN     NaN    8612.0                2.87       70.0
15     NaN                NaN     NaN  120259.0              368.31       61.0>

In [49]:
df.dropna(inplace =True)
print(df.to_string())

      Year  Runtime (Minutes)  Rating     Votes  Revenue (Millions)  Metascore
0   2014.0              121.0     8.1  757074.0              333.13       76.0
1   2012.0              124.0     7.0  485820.0              126.46       65.0
2   2016.0              117.0     7.3  157606.0              138.12       62.0
3   2016.0              108.0     7.2   60545.0              270.32       59.0
4   2016.0              123.0     6.2  393727.0              325.02       40.0
5   2016.0              103.0     6.1   56036.0               45.13       42.0
6   2016.0              128.0     8.3  258682.0              151.06       93.0
8   2016.0              141.0     7.1    7188.0                8.01       78.0
9   2016.0              116.0     7.0  192177.0              100.01       41.0
10  2016.0              133.0     7.5  232072.0              234.02       66.0
11  2016.0              127.0     7.8   93103.0              169.27       74.0
12  2016.0              133.0     7.9  323118.0              532.17       65.0
13  2016.0              107.0     7.7  118151.0              248.75       81.0
14  2016.0              109.0     6.4    8612.0                2.87       70.0
15  2016.0               87.0     6.6  120259.0              368.31       61.0